[core]
    pager = less -q -R
    excludesfile = ~/.gitignore
    preloadindex = true

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    logg = log --graph --all --decorate
[user]
	name = Yutaro Ishiwata
	email = yutaro.ishiwata@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
